{% extends 'base.html' %}
{% load static %}

{% block title %} Agreements {% endblock %}

{% block content %}


<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6 col-xl-6"> 
            <h2 class="text-center mb-4">{{ selected_sponsor.name }}</h2>
            <form action="{% url 'agreement' sponsor_id=selected_sponsor.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="uploadedFile" class="form-label">Elige el archivo:</label>
                    <input type="file" class="form-control" name="uploadedFile" id="uploadedFile">
                </div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
            {% if file %}
            <div class="mt-4">
                <h4 class="text-center">Previsualizacion</h4>
                <embed src="{{ BASE_URL }}agreements_pdf/{{ file.uploadedFile.name }}" type="application/pdf" width="580px" height="430px">
                <p class="text-center">{{ file.uploadedFile.name }}</p>
                <p class="text-center">Ultima fecha de modificacion: {{ file.dateTimeOfUpload }}</p>
                <a href="{{ BASE_URL }}agreements_pdf/{{ file.uploadedFile.name }}" class="btn btn-success btn-block" download>Descargar Documento</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-12 col-lg-8 col-xl-6 text-right">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th> Nombre </th>
                            <th> id </th>
                        </tr>
                    </thead>
                    <tbody>
                           {% for sponsor in sponsors %}
                        <tr>
                            <td><a href="{% url 'agreement' sponsor_id=sponsor.id %}">
                                {{ sponsor.name }}</a>
                            </td>
                            <td>{{ sponsor.id }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}


