{% extends 'base.html' %}
{% load static %}


{% block title %} Agreements {% endblock %}

{% block content %}
<div class="container mt-4"> 
    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-6">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th> Nombre </th>
                            <th> id </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in sponsors %}
                        <tr>
                            <td><a href="/home/" style="color: #007BFF; font-weight: bold;">{{ s.name }}</a></td>
                            <td>{{ s.id }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
