{% extends 'base.html' %}

{% block content %}
<h1>{{ event.name }}</h1>

<ul>
    <li>
       <p>Fecha: {{event.date}}</p>
    </li>
    <li>
        <p>Hora: {{ event.time|time:"g:i A" }}</p>
    </li>
    <li>
        <p>Tipo: {{ event.get_event_Type_display }}</p>
    </li>

    {{error}}
</ul>
<!-- Información del Patrocinador -->
<h2>Información del Patrocinador</h2>
<ul>
    {% for sponsor_detail in sponsor_details %}
        <li><strong>Nombre del Patrocinador:</strong> {{ sponsor_detail.sponsor.name }}</li>
        <li><strong>Participación:</strong> {{ sponsor_detail.participation }}</li>
    {% endfor %}
</ul>

<!-- Formulario de edición del Evento -->
<h2>Editar Información del Evento:</h2>
<form method="POST">
    {% csrf_token %}
    {{ event_form.as_p }}
    <button class="btn" type="submit">
        Guardar Cambios del Evento
    </button>
</form>

{{ error }}

<form action="{% url 'delete_event' event.id %}" method="POST">
    {% csrf_token %}
    <button class="btn">
        Eliminar
    </button>
</form>

{% endblock %}